body
{
	background-color: #91CEE2;
}

svg
{
	background-color: #FFFFFF;
}
.container
{
	overflow: auto;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

.label
{
	font-family: Times New Roman;
    font-size: 14px;
    fill: #000000;
}

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.red-circle
{
	fill:red;
	fill-opacity: 0.5;
}

.badge-text
{
	fill:white;
	font-family: Times New Roman;
    font-size: 10px;
}