body
{
	background-color: #91CEE2;
}

svg
{
	background-color: #FFFFFF;
}
.container
{
	overflow: auto;
	float: left;
	margin-right: 20px;
}
.parent-container
{
	float: left;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

.label
{
	font-family: Times New Roman;
    font-size: 14px;
    fill: #000000;
}

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.red-circle
{
	fill:red;
	fill-opacity: 0.5;
}

.badge-text
{
	fill:white;
	font-family: Times New Roman;
    font-size: 8px;
    fill-opacity:1;
}
.icon
{
	/*opacity: 0.5;*/
}

.glyph-rect
{
	fill-opacity: 0.25;
}
.glyph-circle
{
	fill-opacity: 0.75;
}
.glyph-image
{
	/*opacity: 0.5*/
}

.starplot-value
{
	stroke: black;
	stroke-width: 1;
	fill: yellow;
	fill-opacity: 0.75
}
.starplot-axes
{
	stroke-width: 1;
	
}
.attribute-circle{
	fill-opacity: 0.5;
}

