body
{
    background-color: #B6E3F2;
}
.container
{
    border: 1px black solid;
    background-color: white;
}

.visible
{
    display: block;
}

.hidden
{
    display: none;
}

.selected-content
{
    height: 350px;
    border: 1px blue solid;
    background-color: #EDF9F8;
}

.media-image img
{
    height: 250px;
}
.label{
    font-size: 14px;
    font-weight: bold;
    float: left;
    clear: left;
}
.content-text
{
    font-size: 14px;    
}