/* $sideBarItemHeight: 50px;
$sideBarThumbnailWidth: 80px;
$sideBarThumbnailMargin: 15px;
$Color_Palette_C02: #00bcf2; // Blue */

.tileGalleryItem {
    display: flex;
    flex-direction: column;

    box-shadow: 0px 3.2px 7.2px rgba(0, 0, 0, 0.132), 0px 0.6px 1.8px rgba(0, 0, 0, 0.108);
    border-radius: 4px;
}

.tileGalleryItem span {    
    font-family: 'Segoe UI';
    font-style: normal;
}
.tileGalleryItem-preview {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 15px;
}
.tileGalleryItem-thumbnail {    
    display: flex;
    width: 44px;
    height: 44px;
}
.tileGalleryItem-thumbnail-image {
    box-sizing: border-box;
    border: 0.5625px solid #8A8886;
    border-radius: 4px;
}

.tileGalleryItem-thumbnail-image svg,img{
    display: block;
    width: 100%;
    height: 100%;
}
.tileGalleryItem-header {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.tileGalleryItem-description{
    display: flex;
}
.tileGalleryItem-header-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #242424;
}
.tileGalleryItem-header-subtitle {
    color: #616161;
    
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
.tileGalleryItem-description {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}
.tileGalleryItem-description span{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}