$contentMargin: 15px;

$regularFontWeight : 400;
$regularFontSize: 12px;
$regularLineHeight: 16px;

$titleFontWeight : 600;
$titleFontSize: 14px;
$titleLineHeight: 20px;

$tileGalleryDescriptionFontSize: 13px;
$tileGalleryDescriptionLineHeight: 18px;

$fontFamily: 'Segoe UI';
$fontStyle: normal;

$colorBlack: #242424;
$colorGray: #616161;
$colorFullBlack: #000000;
$linkColor: #0078d4;

$thumbnailSize: 44px;

$borderShadowRoundedGray: 0px 3.2px 7.2px rgba(0, 0, 0, 0.132), 0px 0.6px 1.8px rgba(0, 0, 0, 0.108);
$borderShadowSolidBlack: 0.5625px solid #8A8886;
$borderRadius: 4px;

@mixin fontFamilyMixin {
    font-family: $fontFamily;
    font-style: $fontStyle;
}

@mixin textMixin($fontWeight, $fontSize, $lineHeight) {
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight;
}

.tileGalleryContainer {
    display: flex;
    flex-direction: column;
}
.tileGallerySearchBox {
    display: flex;
}
.tileGalleryTileList {
    display: flex;
}
.tileGalleryActions {
    display: flex;
}

.tileGalleryDescription {
    span {
        @include fontFamilyMixin;
        @include textMixin($regularFontWeight, $tileGalleryDescriptionFontSize , $tileGalleryDescriptionLineHeight );
        color: $colorFullBlack;
    }
    a {
        color: $linkColor;

    }

}

.tileGalleryItem {
    display: flex;
    flex-direction: column;

    box-shadow: $borderShadowRoundedGray;
    border-radius: $borderRadius;

    span {
        @include fontFamilyMixin;
        padding-right: 15px;
    }
}

.tileGalleryItemPreview {
    display: flex;
    flex-direction: row;
    margin-top: $contentMargin;
    margin-left: $contentMargin;
}

.tileGalleryItemThumbnail {
    display: block;
    width: $thumbnailSize;
}

.tileGalleryItemThumbnailImage {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    border: $borderShadowSolidBlack;
    border-radius: $borderRadius;

    svg,
    img {
        width: 100%;
        height: 100%;
    }
}

.tileGalleryItemHeader {
    display: flex;
    flex-direction: column;
    margin-left: $contentMargin;
}

.tileGalleryItemHeaderTitle {
    @include textMixin($titleFontWeight, $titleFontSize, $titleLineHeight);
    color: $colorBlack;
}

.tileGalleryItemHeaderSubtitle {
    color: $colorGray;

    @include textMixin($regularFontSize, $regularFontSize , $regularLineHeight);
}

.tileGalleryItemDescription {
    display: flex;
    margin: $contentMargin;

    span {
        @include textMixin($regularFontSize, $regularFontSize , $regularLineHeight);

        overflow: hidden;
        text-overflow: ellipsis;
    }
}